In [9]:
import requests
import pandas as pd

In [10]:
base_url = "https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata/CotacaoDolarPeriodo(dataInicial=@dataInicial,dataFinalCotacao=@dataFinalCotacao)?@dataInicial='01-01-2017'&@dataFinalCotacao='12-31-2024'&$top=100000&$format=json"

response = (requests.get(base_url)).json()

In [11]:
df = pd.DataFrame(response["value"])

In [12]:
df.head()

   cotacaoCompra  cotacaoVenda          dataHoraCotacao
0         3.2723        3.2729  2017-01-02 13:07:18.146
1         3.2626        3.2632  2017-01-03 13:07:34.023
2         3.2327        3.2333  2017-01-04 13:11:50.501
3         3.2123        3.2129  2017-01-05 13:04:07.266
4         3.2051        3.2057  2017-01-06 13:13:42.955

In [13]:
df.tail()

      cotacaoCompra  cotacaoVenda          dataHoraCotacao
2002         6.1527        6.1541  2024-12-24 11:10:05.681
2003         6.1650        6.1656  2024-12-26 13:09:30.003
2004         6.1985        6.1991  2024-12-27 13:03:30.393
2005         6.1917        6.1923  2024-12-30 13:06:26.618
2006         6.1917        6.1923  2024-12-31 10:04:09.264

In [15]:
df.columns

Index(['cotacaoCompra', 'cotacaoVenda', 'dataHoraCotacao'], dtype='object')

In [21]:
df.drop("cotacaoVenda", axis=1, inplace=True)

In [17]:
df["dataHoraCotacao"] = pd.to_datetime(df["dataHoraCotacao"])
df["dataHoraCotacao"] = pd.to_datetime(df["dataHoraCotacao"].dt.strftime("%Y-%m-%d"))

In [23]:
df.head()

   cotacaoCompra dataHoraCotacao
0         3.2723      2017-01-02
1         3.2626      2017-01-03
2         3.2327      2017-01-04
3         3.2123      2017-01-05
4         3.2051      2017-01-06

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2007 entries, 0 to 2006
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   cotacaoCompra    2007 non-null   float64
 1   dataHoraCotacao  2007 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1)
memory usage: 31.5 KB