In [6]:
from auxiliar_functions import get_ipca_data, get_selic_data, get_dollar_data, concat_dataframes, get_multiple_stocks_data
import matplotlib.pyplot as plt
from matplotlib import rcParams

In [4]:
stocks_list = ["PETR4", "ITUB4", "VALE3", "BBAS3", "BBSE3", "B3SA3", "SAPR11"]

In [5]:
ipca = get_ipca_data()
selic = get_selic_data()
cambio = get_dollar_data()

In [7]:
stock_data = get_multiple_stocks_data(stock_list=stocks_list)

In [8]:
df = concat_dataframes(stock_data, selic, ipca, cambio)
df.head()

,Date,Close PETR4,Volume PETR4,Close ITUB4,Volume ITUB4,Close VALE3,Volume VALE3,Close BBAS3,Volume BBAS3,Close BBSE3,Volume BBSE3,Close B3SA3,Volume B3SA3,Close SAPR11,Volume SAPR11,SELIC,IPCA,Cambio
0,2017-01-02,4.408222,7525700,17.967449,3415665,13.994313,1118500,8.390503,3936400,13.871104,1035100,4.121328,8419500,NaN,NaN,0.1375,0.05354,3.2723
1,2017-01-03,4.660809,39947800,18.728361,27736500,14.614174,5658500,8.774381,15157800,14.364719,3355900,4.290942,43704600,NaN,NaN,0.1375,0.05354,3.2626
2,2017-01-04,4.660809,37071700,18.808744,14981175,14.351711,2144400,8.728682,8312600,14.818450,6728900,4.371952,28232400,NaN,NaN,0.1375,0.05354,3.2327
3,2017-01-05,4.735984,47586300,19.065948,24187680,14.898976,4031600,8.707357,10914200,14.519288,3386300,4.318788,35297700,NaN,NaN,0.1375,0.05354,3.2123
4,2017-01-06,4.708920,25592000,19.130255,15419415,14.502488,4213500,8.801803,7384800,14.294913,1998400,4.316258,37683300,NaN,NaN,0.1375,0.05354,3.2051

In [9]:
df.to_csv("data/stocks_info.csv")