In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('data/ipca-ibge.xlsx')

In [3]:
df.tail()

          Data  IPCA   Fator  IPCA 12 meses
365 2024-12-01  0.52  1.0052       0.048313
366 2025-01-01  0.16  1.0016       0.045599
367 2025-02-01  1.31  1.0131       0.050576
368 2025-03-01  0.56  1.0056       0.054772
369 2025-04-01  0.43  1.0043       0.055297

In [4]:
df.columns

Index(['Data', 'IPCA', 'Fator', 'IPCA 12 meses'], dtype='object')

In [5]:
df.drop(columns=["IPCA", "Fator"], inplace=True)

In [8]:
df.head(20)

         Data  IPCA 12 meses
0  1994-07-01            NaN
1  1994-08-01            NaN
2  1994-09-01            NaN
3  1994-10-01            NaN
4  1994-11-01            NaN
5  1994-12-01            NaN
6  1995-01-01            NaN
7  1995-02-01            NaN
8  1995-03-01            NaN
9  1995-04-01            NaN
10 1995-05-01            NaN
11 1995-06-01       0.330294
12 1995-07-01       0.274513
13 1995-08-01       0.263627
14 1995-09-01       0.256906
15 1995-10-01       0.242086
16 1995-11-01       0.225897
17 1995-12-01       0.224089
18 1996-01-01       0.219756
19 1996-02-01       0.219876