In [1]:
from auxiliar_functions import get_ipca_data, get_selic_data, get_dollar_data, get_stocks_data, concat_dataframes

c:\Users\felip\Felipe\Projetos\TCC\auxiliar_functions.py:20: SyntaxWarning: invalid escape sequence '\s'
  df = pd.read_csv('data\selic-bacen.csv', sep=';', encoding='latin1')

In [2]:
ipca = get_ipca_data()
ipca

           Date      IPCA
0    2017-01-01  0.053540
1    2017-01-02  0.053540
2    2017-01-03  0.053540
3    2017-01-04  0.053540
4    2017-01-05  0.053540
...         ...       ...
3008 2025-03-28  0.054772
3009 2025-03-29  0.054772
3010 2025-03-30  0.054772
3011 2025-03-31  0.054772
3012 2025-04-01  0.055297

[3013 rows x 2 columns]

In [3]:
selic = get_selic_data()
selic

           Date   SELIC
0    2017-01-02  0.1375
1    2017-01-03  0.1375
2    2017-01-04  0.1375
3    2017-01-05  0.1375
4    2017-01-06  0.1375
...         ...     ...
2095 2025-05-13  0.1475
2096 2025-05-14  0.1475
2097 2025-05-15  0.1475
2098 2025-05-16  0.1475
2099        NaT     NaN

[2100 rows x 2 columns]

In [4]:
cambio = get_dollar_data()
cambio

           Date  Cambio
0    2017-01-02  3.2723
1    2017-01-03  3.2626
2    2017-01-04  3.2327
3    2017-01-05  3.2123
4    2017-01-06  3.2051
...         ...     ...
2002 2024-12-24  6.1527
2003 2024-12-26  6.1650
2004 2024-12-27  6.1985
2005 2024-12-30  6.1917
2006 2024-12-31  6.1917

[2007 rows x 2 columns]

In [5]:
bb = get_stocks_data("BBAS3")
bb

           Date      Close
0    2017-01-02   8.264063
1    2017-01-03   8.642151
2    2017-01-04   8.597147
3    2017-01-05   8.576138
4    2017-01-06   8.669165
...         ...        ...
1987 2024-12-20  23.829037
1988 2024-12-23  23.670704
1989 2024-12-26  23.947786
1990 2024-12-27  23.858725
1991 2024-12-30  23.918098

[1992 rows x 2 columns]

In [7]:
df = bb.merge(selic, on="Date", how="left").merge(cambio, on="Date", how="left").merge(ipca, on="Date", how="left")

In [9]:
df.head()

        Date     Close   SELIC  Cambio     IPCA
0 2017-01-02  8.264063  0.1375  3.2723  0.05354
1 2017-01-03  8.642151  0.1375  3.2626  0.05354
2 2017-01-04  8.597147  0.1375  3.2327  0.05354
3 2017-01-05  8.576138  0.1375  3.2123  0.05354
4 2017-01-06  8.669165  0.1375  3.2051  0.05354

In [10]:
df = df.rename(columns={"Close": "BBAS3"})

In [11]:
df.head()

        Date     BBAS3   SELIC  Cambio     IPCA
0 2017-01-02  8.264063  0.1375  3.2723  0.05354
1 2017-01-03  8.642151  0.1375  3.2626  0.05354
2 2017-01-04  8.597147  0.1375  3.2327  0.05354
3 2017-01-05  8.576138  0.1375  3.2123  0.05354
4 2017-01-06  8.669165  0.1375  3.2051  0.05354