In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('data\selic-bacen.csv', sep=';', encoding='latin1')

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
C:\Users\felip\AppData\Local\Temp\ipykernel_2596\1195093741.py:1: SyntaxWarning: invalid escape sequence '\s'
  df = pd.read_csv('data\selic-bacen.csv', sep=';', encoding='latin1')

In [6]:
df.head

<bound method NDFrame.head of             Data 11 - Taxa de juros - Selic - % a.d. Selic Anualizada
0     02/01/2017                            0,050788          0,1375
1     03/01/2017                            0,050788          0,1375
2     04/01/2017                            0,050788          0,1375
3     05/01/2017                            0,050788          0,1375
4     06/01/2017                            0,050788          0,1375
...          ...                                 ...              ...
2095  13/05/2025                            0,054266          0,1475
2096  14/05/2025                            0,054266          0,1475
2097  15/05/2025                            0,054266          0,1475
2098  16/05/2025                            0,054266          0,1475
2099         NaN                                 NaN              NaN

[2100 rows x 3 columns]>

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2100 entries, 0 to 2099
Data columns (total 3 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Data                                 2099 non-null   object
 1   11 - Taxa de juros - Selic - % a.d.  2099 non-null   object
 2   Selic Anualizada                     2099 non-null   object
dtypes: object(3)
memory usage: 49.3+ KB

In [8]:
df['Data'] = pd.to_datetime(df['Data'], format='%d/%m/%Y')

In [9]:
df['Data'].head()

0   2017-01-02
1   2017-01-03
2   2017-01-04
3   2017-01-05
4   2017-01-06
Name: Data, dtype: datetime64[ns]

In [11]:
df.columns

Index(['Data', '11 - Taxa de juros - Selic - % a.d.', 'Selic Anualizada'], dtype='object')

In [12]:
df["Selic Anualizada"] = df["Selic Anualizada"].str.replace(',', '.').astype(float)
df["Selic Anualizada"].head()

0    0.1375
1    0.1375
2    0.1375
3    0.1375
4    0.1375
Name: Selic Anualizada, dtype: float64

In [13]:
df.drop("11 - Taxa de juros - Selic - % a.d.", axis=1, inplace=True)

In [14]:
df.head()

        Data  Selic Anualizada
0 2017-01-02            0.1375
1 2017-01-03            0.1375
2 2017-01-04            0.1375
3 2017-01-05            0.1375
4 2017-01-06            0.1375