In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('data/ipca-ibge.xlsx')

In [4]:
df.tail()

          Data  IPCA   Fator  IPCA 12 meses
365 2024-12-01  0.52  1.0052       0.048313
366 2025-01-01  0.16  1.0016       0.045599
367 2025-02-01  1.31  1.0131       0.050576
368 2025-03-01  0.56  1.0056       0.054772
369 2025-04-01  0.43  1.0043       0.055297

In [5]:
df.columns

Index(['Data', 'IPCA', 'Fator', 'IPCA 12 meses'], dtype='object')

In [6]:
df.drop(columns=["IPCA", "Fator"], inplace=True)

In [7]:
df.head(20)

         Data  IPCA 12 meses
0  1994-07-01            NaN
1  1994-08-01            NaN
2  1994-09-01            NaN
3  1994-10-01            NaN
4  1994-11-01            NaN
5  1994-12-01            NaN
6  1995-01-01            NaN
7  1995-02-01            NaN
8  1995-03-01            NaN
9  1995-04-01            NaN
10 1995-05-01            NaN
11 1995-06-01       0.330294
12 1995-07-01       0.274513
13 1995-08-01       0.263627
14 1995-09-01       0.256906
15 1995-10-01       0.242086
16 1995-11-01       0.225897
17 1995-12-01       0.224089
18 1996-01-01       0.219756
19 1996-02-01       0.219876

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 370 entries, 0 to 369
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Data           370 non-null    datetime64[ns]
 1   IPCA 12 meses  359 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 5.9 KB

In [9]:
df = df[df["Data"] >= "2017-01-01"]
df.head()

          Data  IPCA 12 meses
270 2017-01-01       0.053540
271 2017-02-01       0.047588
272 2017-03-01       0.045710
273 2017-04-01       0.040825
274 2017-05-01       0.035971

In [10]:
# Cria uma sequência diária entre o mínimo e máximo da coluna "Data"
daily_index = pd.date_range(start=df["Data"].min(), end=df["Data"].max(), freq="D")
daily_df = pd.DataFrame({"Data": daily_index})
daily_df.head()

        Data
0 2017-01-01
1 2017-01-02
2 2017-01-03
3 2017-01-04
4 2017-01-05

In [11]:
df["AnoMes"] = df["Data"].dt.to_period("M")
daily_df["AnoMes"] = daily_df["Data"].dt.to_period("M")

In [12]:
# Merge com base em AnoMes
merged = daily_df.merge(df[["AnoMes", "IPCA 12 meses"]], on="AnoMes", how="left")
merged.drop(columns=["AnoMes"], inplace=True)

In [13]:
merged

           Data  IPCA 12 meses
0    2017-01-01       0.053540
1    2017-01-02       0.053540
2    2017-01-03       0.053540
3    2017-01-04       0.053540
4    2017-01-05       0.053540
...         ...            ...
3008 2025-03-28       0.054772
3009 2025-03-29       0.054772
3010 2025-03-30       0.054772
3011 2025-03-31       0.054772
3012 2025-04-01       0.055297

[3013 rows x 2 columns]